.home{
    margin-top: 2em ;
    background-image: url(https://res.cloudinary.com/dtnoanxmt/image/upload/v1643380346/malte-michels-s4wGZw3UuLk-unsplash_mythcg.jpg);
    height: 25vh;
    width: 100vw;
    color: white;
    font-weight: Bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
        margin-top: 2em ;
        background-image: url(https://res.cloudinary.com/dtnoanxmt/image/upload/v1643380346/malte-michels-s4wGZw3UuLk-unsplash_mythcg.jpg);
        height: 25vh;
        width: 100vw;
        color: white;
        font-weight: Bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
.contain{
        width: 40%;
        font-size: 2em;
        text-align: center; }
.author {
            font-size: 1em;
        }    