@use '../../styles/vars.scss';

.nav-menu-link-signup {
    background-color: vars.$color-2;
    color: vars.$color-4;
}

.nav-menu-link-login {
    background-color: vars.$color-3;
    color: vars.$color-1;
}

.nav-menu-link-btn {
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer,
    }