@use '../../styles/vars.scss';

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-container {
        display: flex;
        width: 100%;
        height: 80vh;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*width: 720px;*/
        width: 55%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius:15px;
        padding: 1rem 2rem;
        margin-bottom: 3rem;
    }

    &-left {
        width: 50%;
    }

    &-right {
        width: 50%;
    }

    &-avatar-container {
        display: flex;
    }

    &-input {
        display: flex;
        align-items: center;
    }

    label {
        font-weight: bold;
        color: vars.$color-1;
        width: 25%
    }

    &-picture {
        border-radius: 50px;
        /*width: 30%;
        height: 30%;*/
        width: 130px;
        height: 130px;
        object-fit: cover;
        margin-bottom: 24px;
    }

    &-level {
        font-weight: bold;
        color: vars.$color-1;
        margin-bottom: 24px;

    }

    &-biography {
        display: flex;
        flex-direction: column;

        &-content {
            margin: 16px 0;
            border-radius: 5px;
            resize: none;
        }
    }

    &-button {
        color: vars.$color-4;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 18px;
        width: 70%;
        background-color: vars.$color-1;
        margin: 24px 0;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
        background-color: vars.$color-2;
        }
    }
}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1300px) {
    .profile {
        flex-direction: column-reverse;
        &-input {
            flex-direction: column;
            align-items: unset;
        }
        &-form {
            box-shadow: none;
            padding: 0;
            width: 100%;
        }
        &-container {
            justify-content: unset;
            margin-top: 10rem;
            height: auto;
        }
        &-right {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-left {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-img-container {
            text-align: center;
        }
        &-biography {
            width: 85vw;
        }
        &-button {
            width: 70vw;
        }
        & label {
            width: 100%;
        }
    
    }
}