@use '../../styles/vars.scss';

.card{
    border-radius: 5px;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.118);
    width: 240px;
    margin-top: 2rem;
    
    &-image img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    }
    &-bottom-part{
        padding:  0rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-desc-title{
        font-weight: bold;
        color: vars.$color-1;
        text-transform: uppercase;
    }
    &-desc-content{
        font-size: 0.7em;
        color: vars.$color-1;
    }
    &-button button{
            border:none;
            padding: 0.5em;
            color: white;
            background-color: vars.$color-1;
            border-radius: 5px;
            transition: 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                background-color: vars.$color-2;
            }
    }
}