// @use 'sass:math';
/*
$menuWidth: 250px;
$smallMenuWidth: 150px;
$small: 700px;
$gutter: 1.5rem;
$halfGutter: math.div($gutter, 2);*/
$color-1: #2B5D62;
$color-2: #5E8C7F;
$color-3: #A8C5BD;
$color-4: #E0EFEB;