@use '../../styles/vars.scss';

.about-page {
    padding-top: 140px;
    
    &-title {
        color: vars.$color-1;
        text-align: center;
    }
    
    &-section {
        margin-top: 3rem;

        &-introduction {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        &-text {
            width: 50%;
        }

        &-title {
            color: vars.$color-1;
        }

        &-team-title {
            color: vars.$color-1;
            text-align: center;
            width: 100%;
        }

        &-content {
            color: vars.$color-2;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 2rem auto;
        }

        &-plant-image {
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        &-values {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin: 2rem;

            &-image {
                height: 200px;
            }

            &-name {
                margin-top: 2rem;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .about-page {
      
        &-section-introduction {
            // display: block;
            flex-wrap: wrap;
        }
    }
  }