@use '../../styles/vars.scss';

.field-input {
    color: vars.$color-1;
    font-weight: 600;
    background-color: vars.$color-3;
    border: 2px solid #e7edee00;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.8rem;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;


    &:focus{
        outline: none;
        border: 2px solid #2B5D62;
    }
}