@use '../../styles/vars.scss';

.header {
    height: 85vh;
    display: flex;
    z-index: 3;
    margin : 7.5rem;
    

    
        &-part-right {

            width: 50vw;
            height: 100%;
            background: url(../../assets/img/home/home-bgd.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 0px 15px 15px 0px;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        }
        &-part-left {
            background-color: vars.$color-1;
            width: 50vw;
            border-radius: 15px 0px 0px 15px;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            color: white;
            display: flex;
            align-items: center;
            
            & h1 {
                font-size: 4rem;
                padding: 0 4rem;
            }
            & p {
                font-size: 1.5rem;
                padding: 0 4rem;
            }
        }
        &-img {
            width: 100%;
            height: 100VH;
            object-fit: cover;
            object-position: left;
        }
        
        }

        @media screen and (max-width: 900px){

            .header{
                margin: 0;
                flex-direction: column-reverse;
                
            }
            .header-part-left{
                width: 100vw;
                height: 65vh;
                border-radius: 0px 0px 0px 0px;
                & h1{
                    font-size: 2rem;
                }
                
            }
            .header-part-right{
                width: 100vw;
                border-radius: 0px 0px 0px 0px;
                
            }
        }
