@use '../../styles/vars.scss';

.section-plant-counter{
    background-color: vars.$color-3;
    display:flex;
    justify-content: center;
    padding: 4rem;
}

.plant-counter p{
    
    
    font-size: 2em;
    font-weight: bold;
    color: vars.$color-3; 
    letter-spacing: 600;
}
.plant-counter {
    padding: 2rem;
    box-shadow: 1px 5px 19px 4px rgb(0 0 0 / 20%);
    text-align: center;
    border-radius: 20px;
    padding: 1rem;
    background-color: vars.$color-1;
}