@use '../../styles/vars.scss';
.color {
    background-color: #A8C5BD;
}

.transparent {
    transition-duration: 0.4s ease;
    background-color: transparent;
}

.nav {
    height: auto;
    position: fixed;
    top:0;
    padding-left: 3em;
    padding-right: 3em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    left: 0;
    right: 0;
    /*background-color: #A8C5BD;*/

    &-logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 16%;
        padding: 0.5em;
    }

    &-logo-img {
        max-width: 80%;
    }

    &-title {
        font-size: 1rem;
        font-weight: 600;
        margin-top: -0.5em;
        color: #5E8C7F;
    }

    &-menu{
                
        display: flex;
        justify-content: space-evenly;

        &-link{
            padding: 1rem;
            margin-left: 1rem;
            color: vars.$color-3;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            position: relative;

            &:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            &:hover:after { 
                width: 100%; 
                left: 0; 
            }

            &--active {
                color: white;
            }
        }
    }
}
